<!-- Resources -->
<h2>Resources</h2>
<p>Here are some sections to view information for Rick and Morty:</p>

<div class="card-container">
    <div class="row">

        <div class="col-md-12 col-lg-4">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/episodes.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Episodes</h5>
                    <p class="card-text">You will be able to review information of some episodes.</p>
                    <a [routerLink]="['episodes']" class="btn btn-primary">Review</a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-md-12 col-lg-4">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/characters.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Characters <span>Incoming!</span></h5>
                    <p class="card-text">You will be able to review information of all characters.</p>
                    <a href="#" class="btn btn-primary">Review</a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-md-12 col-lg-4">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top" src="../../../assets/img/locations.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Locations <span>Incoming!</span></h5>
                    <p class="card-text">You will be able to review information of all locations.</p>
                    <a href="#" class="btn btn-primary">Review</a>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>